@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--f-family-ss);
  font-weight: var(--f-weight-normal);
  font-size: var(--f-size-default);
  line-height: 1.5;
  color: var(--c-gray-80);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

::selection {
  color: var(--c-white);
  background-color: var(--c-darkblue);
}

::marker {
  color: var(--c-pizazz);
}

.page-title {
  color: var(--c-gray-80);
  font-size: calc(var(--f-size-default) * 1.75);
  font-weight: var(--f-weight-semibold);
  background: var(--c-gradient-horizontal);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: var(--space-16);

  @media (--tablet-vw) {
    font-size: calc( var(--f-size-default) * 2);
  }

}

.avatar {
  background: url("../../src/images/avatar_emoji.png"), var(--c-gradient-vertical);
  width: var(--space-64);
  height: var(--space-64);
  border-radius: 100%;
  display: block;
  flex-shrink: 0;
}

pre[class*="language-"] {
  margin-top: var(--space-40);
  margin-bottom: var(--space-40);
  border-radius: var(--space-4);
  padding: var(--space-20);
}

code[class*="language-"], pre[class*="language-"] {
  font-family: var(--f-family-ms);
  font-size: calc( var(--f-size-default) / 1.125);
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: var(--c-gray-80);
}

:not(pre) > code[class*="language-"] {
  background-color: var(--c-gray-30);
  color: var(--c-gray-80);
  font-weight: var(--f-weight-medium);
  padding: var(--space-4);
}






.post-wrapper {
  grid-area: none;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: var(--space-32);
  width: 100%;

  h1 {
    font-size: calc( var(--f-size-default) * 2);
    font-weight: var(--f-weight-bold);
    line-height: 1.25;

    @media (--tablet-vw) {
      font-size: calc( var(--f-size-default) * 2.75);
    }
  }


  .post-header {
    margin-bottom: var(--space-48);

    .post-title {
      text-align: center;
      background: var(--c-gradient-horizontal);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-bottom: var(--space-56);
    }

    .post-meta {
      border-top: 2px solid var(--c-darkblue);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .avatar {
        margin-top: calc(var(--space-32) * -1);
      }

      .meta-group {
        margin-top: var(--space-8);
        color: var(--c-gray-80);
        font-weight: var(--f-weight-bold);
        font-style: italic;
        text-transform: uppercase;

        .meta-item {
          margin-right: var(--space-4);
        }
      }
    }
  }

  .post-content {
    margin-bottom: var(--space-32);
    padding-bottom: var(--space-64);
    border-bottom: 2px solid var(--c-darkblue);

    h2 {
      font-size: calc( var(--f-size-default) * 1.75);
      line-height: 1.25;
      margin-top: var(--space-96);
      margin-bottom: var(--space-20);

      @media (--tablet-vw) {
        font-size: calc( var(--f-size-default) * 2);
      }
    }

    h3 {
      font-size: calc( var(--f-size-default) * 1.5);
      line-height: 1.25;
      margin-top: var(--space-80);
      margin-bottom: var(--space-16);

      @media (--tablet-vw) {
        font-size: calc( var(--f-size-default) * 1.75);
      }
    }

    h4 {
      font-size: calc( var(--f-size-default) * 1.25);
      line-height: 1.25;
      margin-top: var(--space-80);
      margin-bottom: var(--space-16);

      @media (--tablet-vw) {
        font-size: calc( var(--f-size-default) * 1.5);
      }
    }

    h5 {
      font-size: calc( var(--f-size-default) * 1.125);
      line-height: 1.25;
      margin-top: var(--space-80);
      margin-bottom: var(--space-16);
      font-weight: var(--f-weight-semibold);

      @media (--tablet-vw) {
        font-size: calc( var(--f-size-default) * 1.25);
      }
    }

    h6 {
      font-size: var(--f-size-default);
      line-height: 1.5;
      margin-bottom: var(--space-16);
      font-weight: var(--f-weight-semibold);

      @media (--tablet-vw) {
        font-size: calc( var(--f-size-default) * 1.125);
      }
    }

    p {
      font-family: var(--f-family-s);
      font-size: calc( var(--f-size-default) / 1.125 );
      line-height: 1.75;
      margin-bottom: var(--space-28);

      @media (--tablet-vw) {
        font-size: var(--f-size-default);
      }
    }

    a {
      color: var(--c-gray-80);
      font-weight: var(--f-weight-semibold);
      
      &:matches(:hover) {
        color: var(--c-darkblue);
        text-decoration: underline;
      }
    }

    ul {
      padding-left: var(--space-32);

      li {
        font-family: var(--f-family-s);

        a {
          color: var(--c-gray-50);
          font-size: calc( var(--f-size-default) / 1.125);
        }

        + li {
          margin-top: var(--space-8);
        }
      }
    }

    blockquote {
      background-color: var(--c-gray-20);
      border-radius: 8px;
      border: 2px solid var(--c-darkblue);
      padding: var(--space-20);
      margin-bottom: var(--space-28);

      p {
        margin-bottom: 0;

        + p {
          margin-top: var(--space-28);
        }
      }
    }
  }

  .post-comment {
    background-color: var(--c-white);
    border-radius: var(--space-12);
    padding: var(--space-16);
    border: 1px solid var(--c-gray-20);
    background-color: var(--c-gray-10)
  }
}