*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--f-family);
  font-size: var(--f-default);
  font-weight: var(--f-weight-normal);
  line-height: var(--lh-default);
  color: var(--gray-90);
  background-color: var(--gray-10);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

:focus {
  outline: 0;
}
