*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--f-family);
  font-size: var(--f-default);
  font-weight: var(--f-weight-normal);
  line-height: var(--lh-default);
  color: var(--c-black);
  background-color: var(--c-white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

:focus {
  outline: 0;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;


  .job-title {
    position: relative;
    display: inline-block;
    font-size: calc( var(--f-default) * 1.25 );
    line-height: 1.5;
    letter-spacing: 1px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 15% 35%;
    background-image: linear-gradient(45deg,var(--c-gray-20),var(--c-gray-20));
    z-index: 2;
    margin-bottom: var(--space-12);
  }

  .hero-heading {
    font-size: calc( var(--f-default) * 3 );
    font-weight: var(--f-weight-bold);
    line-height: 1.2;
    color: var(--c-black);
    margin-top: var(--space-8);
  }

  @media (--desktop-vw) {
    .hero-heading {
      font-size: calc( var(--f-default) * 4 );
    }
  }

  .hero-subheading {
    font-size: calc( var(--f-default) * 1.25 );
    font-weight: var(--f-weight-medium);
    color: var(--c-black);
  }
}

