:root {

  --c-black: #000000;
  --c-white: #FFFFFF;

  --c-gray-10: #F7F7F7;
  --c-gray-20: #F1F1F1;
  --c-gray-30: #E5E5E5;
  --c-gray-40: #C2C2C2;
  --c-gray-50: #A4A4A4;
  --c-gray-60: #7A7A7A;
  --c-gray-70: #666666;
  --c-gray-80: #484848;
  --c-gray-90: #252525;

  --c-razz: #F2055C;

  --f-family: 'Gilroy', sans-serif;

  --f-weight-normal: 400;
  --f-weight-medium: 500;
  --f-weight-semibold: 600;
  --f-weight-bold: 700;

  --f-default: 16px;
  --lh-default: 1.5;

  --space-unit: 16px;
  --space-4: calc( var(--space-unit ) * 25 / 100 );
  --space-8: calc( var(--space-unit ) * 50 / 100 );
  --space-12: calc(var(--space-unit ) * 75 / 100 );
  --space-16: var(--space-unit);
  --space-20: calc( var(--space-unit ) * 125 / 100 );
  --space-24: calc( var(--space-unit ) * 150 / 100 );
  --space-32: calc( var(--space-unit ) * 200 / 100 );
  --space-48: calc( var(--space-unit ) * 300 / 100 );
  --space-64: calc( var(--space-unit ) * 400 / 100 );
  --space-128: calc( var(--space-unit ) * 800 / 100 );
}
