:root {
  --c-black: rgba(0, 0, 0, 1);
  --c-white: rgba(255, 255, 255, 1);

  --c-gray-05: hsla(200, 23%, 97%, 1);
  --c-gray-10: hsla(206, 16%, 91%, 1);
  --c-gray-20: hsla(213, 15%, 85%, 1);
  --c-gray-30: hsla(214, 18%, 74%, 1);
  --c-gray-40: hsla(214, 18%, 64%, 1);
  --c-gray-50: hsla(216, 17%, 55%, 1);
  --c-gray-60: hsla(218, 20%, 39%, 1);
  --c-gray-70: hsla(219, 30%, 29%, 1);
  --c-gray-80: hsla(220, 39%, 21%, 1);
  --c-gray-90: hsla(219, 46%, 13%, 1);
  --c-gray-100: hsla(219, 52%, 6%, 1);

  --c-darkblue: hsla(240, 100%, 27%, 1);
  --c-darkorchid: hsla(280, 61%, 50%, 1);

  --c-gradient-horizontal: linear-gradient(90deg, var(--c-darkblue) 0%, var(--c-darkorchid) 100%);

  --f-family-s: 'Merriweather', serif;
  --f-family-ss: 'Inter', sans-serif;
  --f-family-ms: 'JetBrains Mono', monospace;

  --f-size-default: 16px;

  --f-weight-normal: 400;
  --f-weight-medium: 500;
  --f-weight-semibold: 600;


  --space-unit: 16px;
  --space-4: calc( var(--space-unit ) * 25 / 100 );
  --space-8: calc( var(--space-unit ) * 50 / 100 );
  --space-12: calc(var(--space-unit ) * 75 / 100 );
  --space-16: var(--space-unit);
  --space-20: calc( var(--space-unit ) * 125 / 100 );
  --space-24: calc( var(--space-unit ) * 150 / 100 );
  --space-28: calc( var(--space-unit ) * 175 / 100 );
  --space-32: calc( var(--space-unit ) * 200 / 100 );
  --space-40: calc( var(--space-unit ) * 250 / 100 );
  --space-48: calc( var(--space-unit ) * 300 / 100 );
  --space-56: calc( var(--space-unit ) * 350 / 100 );
  --space-64: calc( var(--space-unit ) * 400 / 100 );
}