.blog-post-wrapper {
  display: flex;
  flex-direction: column;

  .post-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--c-gray-10);
    padding-top: var(--space-20);
    padding-bottom: var(--space-20);

    &:first-child {
      padding-top: 0;
    }

    .post-title {
      a {
        font-size: calc(var(--f-size-default) * 1.125);
        color: var(--c-gray-80);
        font-weight: var(--f-weight-normal);

        &:matches(:hover, :focus) {
          text-decoration: underline;
        }
      }
    }

    .post-meta {
      color: var(--c-gray-50);
      font-size: calc(var(--f-size-default) * 0.875);
    }
  }
}
