.blog-post-wrapper {
  display: flex;
  flex-direction: column;

  .post-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--c-gray-20);
    padding-top:  var(--space-28);
    padding-bottom:  var(--space-28);

    &:first-child {
      padding-top: 0;
    }

    .post-title {
      margin-bottom: var(--space-12);

      a {
        color: var(--c-gray-90);

        &:matches(:hover, :focus) {
          text-decoration: underline;
        }
      }
    }

    .post-summary {
      color: var(--c-gray-60);
    }

    .post-meta {
      margin-top: var(--space-12);
      color: var(--c-gray-60);
      font-size: calc(var(--f-size-default) / 1.125);
    }
  }
}