.header {
  display: block;
  width: 100%;
  padding-top: var(--space-56);

  .logo {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;

    .name {
      color: var(--c-gray-90);
      margin-left: var(--space-12);
      font-size: calc(var(--f-size-default) * 2);
    }
  }
}

