.header {
  display: block;
  width: 100%;
  padding-top: var(--space-48);

  a {
    display: inline-block;
    cursor: pointer;
  }

  .title {
    font-size: calc(var(--f-size-default) * 2);
    color: var(--c-gray-90);
    letter-spacing: -0.75px;
  }

  .job {
    font-size: var(--f-size-default);
    color: var(--c-gray-50);
  }
}

