.container {
  width: 90%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;

  .content {
    flex-grow: 1;
    margin-top: var(--space-128);
    display: flex;
  }
}