.wrapper {
  .container {
    width: 100%;
    max-width: 768px;
    margin-inline: auto;
    padding-inline: var(--space-32);
  }

  .content {
    padding-block: var(--space-20);
    display: flex;
    flex-direction: column;
  }
}
