.navigation {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--c-gray-20);
  margin-top: var(--space-40);
  

  .nav-link {
    font-size: var(--f-default-size);
    font-weight: var(--f-weight-semibold);
    padding-bottom: var(--space-20);
    margin-right: var(--space-20);
    color: var(--c-gray-80);
    margin-bottom: -1px;

    &.active {
      background: var(--c-gradient-horizontal);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      border-bottom: 2px solid var(--c-darkorchid);
    }
  }
}