
.navigation {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: auto;
}

.nav-link {
  color: var(--c-black);
  display: inline-block;
  font-weight: var(--f-weight-bold);
  padding: var(--space-8) var(--space-12);
}

.nav-link:hover, .nav-link.active {
  text-decoration: underline;
}