.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  border-bottom: 1px solid var(--c-gray-20);
  padding-top: var(--space-32);

  .nav-link {
    font-size: calc(var(--f-size-default) * 1.125);
    font-weight: var(--f-weight-medium);
    padding-bottom: var(--space-20);
    color: var(--c-gray-90);
    margin-bottom: -1px;

    &.active {
      background: var(--c-gradient-horizontal);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      border-bottom: 1px solid var(--c-darkorchid);
    }
  }
}