.social-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-16);
  align-items:center;


  .social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-4);
    fill: var(--c-gray-70);
    padding: var(--space-4);
  
    > svg {
      fill: inherit;
    }
  }

  .social-link:matches(:hover, :focus) {
    background-color: var(--c-gray-10);
  }
}