.social-wrap {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  padding-top: var(--space-64);
  padding-bottom: var(--space-64);
  margin-top: auto;

  .social-link {
    display: inline-block;
    padding: var(--space-4) var(--space-12);
    color: var(--c-gray-80);
    font-size: calc( var(--f-default) * 1.25 );
    font-weight: var(--f-weight-medium);
  }

  .social-link:matches(:hover, :focus) {
    color: var(--c-razz);
  }
}